.button.smp-button,
.toggle-button.smp-button,
.radio-button.smp-button {
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 2px;
}

.button.smp-button.smp-instrument-button {
	-fx-padding: 0px;
}

.button.smp-arranger-button,
.button.smp-tempo-box-button,
.button.smp-scroll-arrow-button {
	-fx-padding: 0px;
}